.bgColor {
  background: linear-gradient(90deg, #172A3A 0%, #508991 80%);
}

.formatCenter {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.headerFont {
  font-family: 'Xanh Mono', monospace;
  font-weight: bolder;
  color: white;
  padding: 3%;
}

.captionFont {
  font-family: 'PT Mono', monospace;
  font-style: italic;
  color: white;
  padding: 2%;
}

.textFont {
  font-family: 'PT Mono', monospace;
  color: white;
}

.portrait {
  width: 80%;
  height: auto;
  border: 15px;
  border-style: double;
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: left;
  align-content: left;
  justify-items: left;
  align-items: left;
  flex-flow: column wrap;
}